/* Navbar CSS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    background: #4cb4cb;

}
nav .wrapper {
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .logo a {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.wrapper .nav-links {
    display: inline-flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background: #00465f;
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #4497a9;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    font-size: 16px;
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}

.mega-box {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 30px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
}

.mega-box .content {
    background: #4497a9;
    padding: 25px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .content .row {
    width: calc(25% - 30px);
    line-height: 45px;
}

.content .row img {
    width: 90%;
    height: 45%;
    object-fit: cover;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    
}

.content .row .mega-links {
    margin-left: auto;
    border-left: 2px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
    padding: 0 0px;
}

.row .mega-links li a {
    text-align: center;
    padding: 0 10px;
    color: #d9d9d9;
    font-size: 14px;
    display: block;
}

.wrapper .btn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}
@media screen and (max-width: 970px) {
    .wrapper .btn {
        display: block;
        font-size: 40px;
        margin-top: -15px;
    }

    .wrapper .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #4cb4cb;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #242526;
    }

    ::-webkit-scrollbar-thumb {
        background: #3A3B3C;
    }

    #menu-btn:checked~.nav-links {
        left: 0%;
    }

    #menu-btn:checked~.btn.menu-btn {
        display: none;
    }

    #close-btn:checked~.btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked~.drop-menu,
    #showMega:checked~.mega-box {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: #f2f2f2;
        font-size: 20px;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: #3A3B3C;
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

.body-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
}

.body-text div {
    font-size: 45px;
    font-weight: 600;
}

.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

@media screen and (min-width: 971px) {
    .menu-btn {
        display: none;
    }
}

/* Social links CSS */
._social-links {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em 0.5em 1em 1em;
    background: #fafafa;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: -4px 0px 0px rgb(0, 145, 255);
    transition: all 300ms ease;
}

._social-links:hover {
    box-shadow: -8px 0px 20px rgb(0, 145, 255);
    padding: 1em;
}

._links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

._social-link a {
    color: #111;
    font-size: 1.5rem;
    transition: all 200ms ease;
}

._social-link a:visited {
    color: #111;
}

._social-link a:hover {
    color: rgb(0, 140, 255);
    font-size: 1.75rem;
}

/*  */
.conaf {
    max-width: 800px;
    margin: auto;
}

#headline {
    display: flex;
    margin-top: 50px;
    background-color: #8c8c8c;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column {
    flex: 1;
    margin-right: 20px;
}

.right-column {
    flex: 1;
}

#headline h1 {
    color: #00d0ff;
    font-size: 40px;
    font-weight: bold;
}

#headline h2 {
    font-weight: bold;
    font-size: 20px;
    width: 70.5%;
    text-align: center;
    margin: 0 auto;
}

#headline p {
    width: 70.5%;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

#blurb {
    text-align: center;
}

#blurb p {
    margin-top: 20px;
}

#register {
    border-radius: 35px;
    background-color: #4cb4cb;
    padding: 20px;
    margin-top: 20px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#register h2 {
    font-size: 24px;
    margin-top: 0;
}

#register label,
#register input {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

#register input[type="text"],
#register input[type="email"],
#register input[type="tel"] {
    color: #000;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#register input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#name::placeholder,
#email::placeholder,
#tel::placeholder {
    text-align: center;
}

/* cost */
.elet {
    background-color: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.elet:hover {
    transform: scale(1.05);
}

.gagaf {
    padding: 0.25rem;
    background-color: #94e3ff;
}

.p-8 {
    padding: 2rem;
}

.af89d {
    font-size: 1.875rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1rem;
}

.esft {
    color: #666666;
    margin-bottom: 1.5rem;
    font-size: 14px;
}

.efad {
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 1.5rem;
}

.elsasbg {
    font-size: 0.875rem;
    color: #666666;
    margin-bottom: 1.5rem;
}

.asdnt {
    font-size: 12px;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.dasf {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    color: #10B981;
}

.p-4 {
    padding: 1rem;
}

.egaaggg {
    width: 100%;
    background-color: #008cff;
    color: #ffffff;
    border-radius: 9999px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.egaaggg:hover {
    background-color: #00c8ff;
}

.egaaggg:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 55, 255, 0.5);
}

.egaaggg:active {
    background-color: #00fff7;
}

.small-note {
    font-size: 8px;
    color: #ff0000;
    font-style: italic;
}

.dhnbg44ggb {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .dhnbg44ggb {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .dhnbg44ggb {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

.eldgdbv56nt {
    background-color: #cccccc;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section */
bgr {
    background-color: #fff;
    height: 100vh;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.cnr {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media (min-width: 640px) {
    .cnr {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .cnr {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.cust {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 2rem;
    padding-top: 3rem;
    margin-top: 190px;
    margin-bottom: 120px;
}

.cust>*+* {
    margin-top: 2rem;
}

.cust {
    padding-top: 0;
}

@media (min-width: 640px) {
    .sym {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .sym {
        max-width: 42rem;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .sym {
        grid-column: span 6;
        text-align: left;
        display: flex;
        align-items: center;
    }
}

.flx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btnz {
    text-decoration: none;
    display: inline-flex;
    padding: 0.25rem 0.5rem;
    gap: 0.5rem;
    border-radius: 0.75rem;
    border: 2px solid #ccc;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: #666;
}

.btnz:hover {
    border-color: #00d0ff;
}

.btnv {
    background-color: #c8fefd;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #01d0ff;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.125rem 0.625rem;
    border-radius: 0.375rem;
}

.btnv.dark {
    background-color: #011627;
    color: #8BE9FD;
}

.tit {
    margin-top: 1rem;
    font-size: 2.25rem;
    letter-spacing: -0.025em;
    font-weight: 800;
    color: #333;
}

@media (min-width: 640px) {
    .tit {
        margin-top: 1.25rem;
        line-height: 1;
    }
}

@media (min-width: 1024px) {
    .tit {
        margin-top: 1.5rem;
        font-size: 3rem;
    }
}

@media (min-width: 1280px) {
    .tit {
        font-size: 3.75rem;
    }
}

@media (min-width: 640px) {
    .sbom {
        display: block;
    }
}

.ble {
    color: #5bc6db;
}

@media (min-width: 768px) {
    .ble {
        display: block;
    }
}

.m1t {
    margin-top: 2.5rem;
}

@media (min-width: 640px) {
    .m1t {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .m1t {
        justify-content: flex-start;
    }
}

.btnj {
    display: inline-flex;
    align-items: center;
    color: #fff;
    background-color: #49cfed;
    justify-content: center;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    outline: none;
    border: 2px solid transparent;
    border-color: transparent;
    pointer-events: auto;
    opacity: 1;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
}

.btnj:hover {
    background-color: #4cb4cb;
}

.btnj:disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media (min-width: 640px) {
    .btnj {
        width: auto;
    }
}

.btnu {
    width: 100%;
    margin-left: 10px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #4B5563;
    background-color: #F3F4F6;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    outline: none;
    border: 1px solid #CBD5E0;
    pointer-events: auto;
    opacity: 1;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    margin-top: 0.75rem;
}

.btnu:hover {
    background-color: #E2E8F0;
    color: #2D3748;
    border-color: #CBD5E0;
}

.btnu:disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media (min-width: 640px) {
    .btnu {
        margin-top: 0;
        margin-left: 0.75rem;
        width: auto;
    }
}

.m6t {
    margin-top: 4rem;
    margin-left: 1.5rem;
}

@media (min-width: 640px) {
    .m6t {
        margin-top: 6rem;
        margin-left: 0.75rem;
    }
}

@media (min-width: 1024px) {
    .m6t {
        margin-top: 0;
        grid-column: span 5;
    }
}

.teb {
    font-size: 1rem;
    color: #636e7f;
    margin-left: 3rem;
}

@media (min-width: 640px) {
    .teb {
        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .teb {
        font-size: 1.125rem;
    }
}

@media (min-width: 1280px) {
    .teb {
        font-size: 1.25rem;
    }
}

.m2t {
    margin-top: 3rem;
    margin-left: 2rem;
}

.g8p {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (min-width: 640px) {
    .g8p {
        gap: 1.5rem;
    }
}

@media (min-width: 1280px) {
    .g8p {
        gap: 2rem;
    }
}

.tcxt {
    text-align: center;
}

@media (min-width: 640px) {
    .tcxt {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 640px) {
    .rink {
        flex-shrink: 0;
    }
}

.flow_root {
    display: flow-root;
}

.focus\:outline-none:focus {
    outline: none;
}

.focus\:ring-2:focus {
    box-shadow: 0 0 0 3px rgba(156, 235, 241, 0.5);
}

.focus\:ring-ring:focus {
    box-shadow: 0 0 0 3px rgba(79, 148, 148, 0.5);
}

.focus\:ring-offset-2:focus {
    box-shadow: 0 0 0 3px rgba(209, 213, 219, 0.5);
}

.hover\:bg-primary:hover {
    background-color: rgba(0, 193, 252, 0.8);
}

.rof {
    border-width: fit-content;
    transition-property: color;
    transition-duration: 0.15s;
    border-radius: 9999px;
    background-color: #83dff4;
    color: #474747;
    line-height: 1.25rem;
    font-weight: 500;
    font-size: 0.875rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border-color: transparent;
}

.t4x {
    font-size: 2.25rem;
    font-weight: 700;
    color: #1A202C;
}

.mtspac {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    /* Đặt phần tử cha thành vị trí tương đối */
}

.mtspac> :not([hidden])~ :not([hidden]) {
    --space-x-reverse: 0;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
}

.ra6t {
    position: relative;
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 99999px;
}

.asre {
    position: absolute;
    /* Đặt hình ảnh con là tuyệt đối trong phần tử cha */
    top: 50%;
    /* Đặt vị trí ở giữa theo chiều dọc */
    left: 50%;
    /* Đặt vị trí ở giữa theo chiều ngang */
    transform: translate(-50%, -50%);
    /* Dịch chuyển hình ảnh đi 50% chiều ngang và 50% chiều dọc để căn chỉnh chính giữa */
}

.asre {
    position: relative;
    width: 100%;
    height: 100%;
}

.asre::before {
    content: "";
    display: block;
    padding-top: 100%;
    height: 100%;
    width: 100%;
}

/* ///////////////////////////// */


/* kĩ năng */
.skill-container {
    border: 4px solid #83dff4;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    margin: 5px;
}

.skill-title {
    margin-top: 0;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.skill-item {
    border: 6px solid #83dff4;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}

.skill-container,
.skill-title,
.skill-item {
    font-family: 'Reem Kufi Fun', sans-serif;
}

/*  */
.contdgr {
    max-width: 1200px;
    margin: auto;
}

.rokw {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #484747;
    padding: 50px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00ccff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.footer-bottom {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 12.5px;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

/* chatbot */
body {
    background: #ffffff;
}

.chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 40px;
    outline: none;
    border: none;
    height: 60px;
    width: 60px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #0048ff;
    transition: all 0.5s ease;
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(180deg);
}

.chatbot-toggler span {
    display: flex;
    color: #fff;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot {
    position: fixed;
    right: 90px;
    bottom: 80px;
    height: 450px;
    width: 360px;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.5),
        0 32px 64px -48px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #0062ff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.chatbot header span {
    position: absolute;
    right: 15px;
    top: 50%;
    display: none;
    cursor: pointer;
    transform: translateY(-50%);
}

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    cursor: default;
    align-self: flex-end;
    background: #0095ff;
    border-radius: 5px;
    margin: 5px 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #fff;
    font-size: 0.95rem;
    background: #0095ff;
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: #000;
    background: #f2f2f2;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chat-input textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: #4a91e8;
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid~span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

    .chatbot .chatbox {
        height: 90%;
        padding: 25px 15px 100px;
    }

    .chatbot .chat-input {
        padding: 5px 15px;
    }

    .chatbot header span {
        display: block;
    }
}

.fullscreen-image {
    width: 100px;
    height: 272px;
}

#guest {
    background-color: rgb(183, 232, 239);
}

.text-main {
    width: 100%;
    height: auto;
    background-color: rgb(108, 205, 237);
    border-radius: 30px;
    
}
.bold-text {
    color: #1d1a1a;
    font-weight: bold;
    transition: transform 0.3s ease;
    font-size: large;
}
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0); 
    }
}

.bold-text:hover {
    animation: moveUp 0.9s ease forwards; /* Áp dụng animation khi di chuyển chuột vào */
}


.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 75px;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
.carousel-item img {
    width: 100%;  
    height: 600px; 
    display: block; 
}
